Repository RedisAI/VectorSimilarity, pull requests merged in 2022-12, with the labels that each got.

#295 fixed nightly flow
  .github/workflows/multi-build.yml
  .github/workflows/nightly.yml
Labels: multi-build

#297 skip on noci
  .github/workflows/codeql-analysis.yml
  .github/workflows/default.yml
  .github/workflows/default_invoker.yml
  .github/workflows/multi-build.yml
  .github/workflows/ok_to_merge.yml
Labels: multi-build, ok to merge

#298 fixed get AVX512F functions MOD-4593
  src/VecSim/spaces/IP_space.cpp
  src/VecSim/spaces/L2_space.cpp
  tests/unit/test_spaces.cpp
Labels: bug, multi-build

#266 templated BM - MOD-3928
  README.md
  docs/Benchmarks_classes.png
  docs/benchmarks.md
  docs/benchmarks_developer.md
  src/VecSim/algorithms/brute_force/brute_force_friend_tests.h
  src/VecSim/algorithms/brute_force/brute_force_multi.h
  src/VecSim/algorithms/brute_force/brute_force_single.h
  src/VecSim/algorithms/hnsw/hnsw_multi.h
  src/VecSim/algorithms/hnsw/hnsw_single.h
  src/python_bindings/bindings.cpp
  tests/benchmark/CMakeLists.txt
  tests/benchmark/benchmarks.sh
  tests/benchmark/bm_basics.cpp
  tests/benchmark/bm_batch_iterator.cpp
  tests/benchmark/bm_batch_iterator.h
  tests/benchmark/bm_common.h
  tests/benchmark/bm_datasets.py
  tests/benchmark/bm_definitions.h
  tests/benchmark/bm_initialization/bm_basics_initialize_fp32.h
  tests/benchmark/bm_initialization/bm_batch_initialize_fp32.h
  tests/benchmark/bm_initialization/bm_updated_initialize_fp32.h
  tests/benchmark/bm_spaces.cpp
  tests/benchmark/bm_spaces_class.cpp
  tests/benchmark/bm_updated_index.cpp
  tests/benchmark/bm_updated_index.h
  tests/benchmark/bm_utils.cpp
  tests/benchmark/bm_utils.h
  tests/benchmark/bm_vecsim_basics.h
  tests/benchmark/bm_vecsim_general.cpp
  tests/benchmark/bm_vecsim_general.h
  tests/benchmark/bm_vecsim_index.h
  tests/benchmark/data/hnsw_indices.txt
  tests/benchmark/run_files/bm_basics_multi_fp32.cpp
  tests/benchmark/run_files/bm_basics_single_fp32.cpp
  tests/benchmark/run_files/bm_batch_iterator_multi_fp32.cpp
  tests/benchmark/run_files/bm_batch_iterator_single_fp32.cpp
  tests/benchmark/run_files/bm_updated_index_single_fp32.cpp
  tests/benchmark/spaces_benchmarks/bm_spaces.h
  tests/benchmark/spaces_benchmarks/bm_spaces_class.h
  tests/benchmark/spaces_benchmarks/bm_spaces_class_definitions.h
  tests/benchmark/spaces_benchmarks/bm_spaces_class_fp32.cpp
  tests/benchmark/spaces_benchmarks/bm_spaces_class_fp64.cpp
  tests/benchmark/spaces_benchmarks/bm_spaces_fp32.cpp
  tests/benchmark/spaces_benchmarks/bm_spaces_fp64.cpp
  tests/flow/test_hnswlib.py
Labels: benchmark, multi-build

#278 Introduce tiered HNSW index MOD-4300 MOD-4299
  CMakeLists.txt
  src/VecSim/CMakeLists.txt
  src/VecSim/algorithms/brute_force/brute_force.h
  src/VecSim/algorithms/hnsw/hnsw_batch_iterator.h
  src/VecSim/algorithms/hnsw/hnsw_factory.cpp
  src/VecSim/algorithms/hnsw/hnsw_factory.h
  src/VecSim/algorithms/hnsw/hnsw_tiered.h
  src/VecSim/algorithms/hnsw/hnsw_tiered_tests_friends.h
  src/VecSim/vec_sim_common.h
  src/VecSim/vec_sim_index.h
  src/VecSim/vec_sim_tiered_index.h
  tests/benchmark/CMakeLists.txt
  tests/unit/CMakeLists.txt
  tests/unit/test_hnsw_tiered.cpp
  tests/unit/test_utils.cpp
  tests/unit/test_utils.h
Labels: multi-build

#312 added default behavior for bm_files script
  tests/benchmark/bm_files.sh
Labels: bm-basics-fp32-single, bm-spaces, benchmarks-all

#311 Support parallel graph scans in HNSW - MOD-4318
  src/VecSim/algorithms/hnsw/hnsw.h
  src/VecSim/algorithms/hnsw/hnsw_batch_iterator.h
  src/VecSim/algorithms/hnsw/hnsw_factory.cpp
  src/VecSim/algorithms/hnsw/hnsw_serializer.h
  src/VecSim/algorithms/hnsw/visited_nodes_handler.cpp
  src/VecSim/algorithms/hnsw/visited_nodes_handler.h
  src/VecSim/memory/vecsim_malloc.cpp
  src/VecSim/memory/vecsim_malloc.h
  src/VecSim/vec_sim_common.h
  src/python_bindings/bindings.cpp
  tests/unit/test_hnsw.cpp
  tests/unit/test_hnsw_multi.cpp
Labels: multi-build

#319 Refactor add/delete API as an enabler for tiered index
  src/VecSim/algorithms/brute_force/brute_force.h
  src/VecSim/algorithms/brute_force/brute_force_multi.h
  src/VecSim/algorithms/brute_force/brute_force_single.h
  src/VecSim/algorithms/hnsw/hnsw.h
  src/VecSim/algorithms/hnsw/hnsw_multi.h
  src/VecSim/algorithms/hnsw/hnsw_single.h
  src/VecSim/algorithms/hnsw/hnsw_tiered.h
  src/VecSim/tombstone_interface.h
  src/VecSim/vec_sim.cpp
  src/VecSim/vec_sim_interface.h
  tests/unit/test_allocator.cpp
  tests/unit/test_bruteforce_multi.cpp
  tests/unit/test_hnsw.cpp
  tests/unit/test_hnsw_multi.cpp
  tests/unit/test_hnsw_tiered.cpp
Labels: multi-build

#321 Support parallel graph scans in HNSW - CP to main
  src/VecSim/algorithms/hnsw/hnsw.h
  src/VecSim/algorithms/hnsw/hnsw_batch_iterator.h
  src/VecSim/algorithms/hnsw/hnsw_factory.cpp
  src/VecSim/algorithms/hnsw/hnsw_serializer.h
  src/VecSim/algorithms/hnsw/visited_nodes_handler.cpp
  src/VecSim/algorithms/hnsw/visited_nodes_handler.h
  src/VecSim/memory/vecsim_malloc.cpp
  src/VecSim/memory/vecsim_malloc.h
  src/VecSim/vec_sim_common.h
  src/python_bindings/bindings.cpp
  tests/unit/test_hnsw.cpp
  tests/unit/test_hnsw_multi.cpp
Labels: multi-build, bm-basics-fp32-single, bm-basics-fp32-multi
