Repository RedisAI/VectorSimilarity, pull requests merged in 2024-05, with the labels that each got.

#453 FP16 distance functions
  .github/workflows/benchmark.yml
  .github/workflows/coverage.yml
  src/VecSim/spaces/AVX_utils.h
  src/VecSim/spaces/CMakeLists.txt
  src/VecSim/spaces/IP/IP.cpp
  src/VecSim/spaces/IP/IP.h
  src/VecSim/spaces/IP/IP_AVX2_BF16.h
  src/VecSim/spaces/IP/IP_AVX512BW_VL_FP16.h
  src/VecSim/spaces/IP/IP_AVX_FP32.h
  src/VecSim/spaces/IP/IP_F16C_FP16.h
  src/VecSim/spaces/IP_space.cpp
  src/VecSim/spaces/IP_space.h
  src/VecSim/spaces/L2/L2.cpp
  src/VecSim/spaces/L2/L2.h
  src/VecSim/spaces/L2/L2_AVX2_BF16.h
  src/VecSim/spaces/L2/L2_AVX512BW_VL_FP16.h
  src/VecSim/spaces/L2/L2_AVX_FP32.h
  src/VecSim/spaces/L2/L2_F16C_FP16.h
  src/VecSim/spaces/L2_space.cpp
  src/VecSim/spaces/L2_space.h
  src/VecSim/spaces/functions/AVX512BW_VL.cpp
  src/VecSim/spaces/functions/AVX512BW_VL.h
  src/VecSim/spaces/functions/F16C.cpp
  src/VecSim/spaces/functions/F16C.h
  src/VecSim/spaces/functions/implementation_chooser.h
  src/VecSim/types/float16.h
  tests/benchmark/CMakeLists.txt
  tests/benchmark/benchmarks.sh
  tests/benchmark/spaces_benchmarks/bm_spaces.h
  tests/benchmark/spaces_benchmarks/bm_spaces_fp16.cpp
  tests/unit/test_spaces.cpp
Labels: bm-spaces

#454 [MOD-6764] Introduce bfloat16 datatype
  .github/workflows/event-pull_request.yml
  Makefile
  pyproject.toml
  src/VecSim/algorithms/brute_force/brute_force.h
  src/VecSim/algorithms/hnsw/hnsw.h
  src/VecSim/algorithms/hnsw/hnsw_serializer.h
  src/VecSim/algorithms/hnsw/hnsw_single_tests_friends.h
  src/VecSim/algorithms/hnsw/hnsw_tiered_tests_friends.h
  src/VecSim/index_factories/brute_force_factory.cpp
  src/VecSim/index_factories/hnsw_factory.cpp
  src/VecSim/index_factories/tiered_factory.cpp
  src/VecSim/spaces/IP/IP.cpp
  src/VecSim/spaces/L2/L2.cpp
  src/VecSim/spaces/normalize/normalize_naive.h
  src/VecSim/spaces/spaces.cpp
  src/VecSim/spaces/spaces.h
  src/VecSim/types/bfloat16.h
  src/VecSim/utils/vec_utils.cpp
  src/VecSim/utils/vec_utils.h
  src/VecSim/vec_sim.cpp
  src/VecSim/vec_sim_common.h
  src/VecSim/vec_sim_debug.cpp
  src/VecSim/vec_sim_index.h
  src/VecSim/vec_sim_interface.h
  src/VecSim/vec_sim_tiered_index.h
  src/python_bindings/bindings.cpp
  tests/benchmark/benchmarks.sh
  tests/benchmark/bm_common.h
  tests/benchmark/bm_definitions.h
  tests/benchmark/bm_files.sh
  tests/benchmark/bm_initialization/bm_basics_initialize_bf16.h
  tests/benchmark/bm_initialization/bm_batch_initialize_bf16.h
  tests/benchmark/bm_vecsim_basics.h
  tests/benchmark/bm_vecsim_general.h
  tests/benchmark/bm_vecsim_index.h
  tests/benchmark/data/hnsw_indices/hnsw_indices_basic_bf16.txt
  tests/benchmark/data/serializer.py
  tests/benchmark/run_files/bm_basics_multi_bf16.cpp
  tests/benchmark/run_files/bm_basics_single_bf16.cpp
  tests/benchmark/run_files/bm_batch_iterator_multi_bf16.cpp
  tests/benchmark/run_files/bm_batch_iterator_single_bf16.cpp
  tests/flow/common.py
  tests/flow/test_bruteforce.py
  tests/flow/test_hnsw.py
  tests/flow/test_hnsw_tiered.py
  tests/unit/CMakeLists.txt
  tests/unit/test_bf16.cpp
  tests/unit/test_bruteforce.cpp
  tests/unit/test_common.cpp
  tests/unit/test_hnsw.cpp
  tests/unit/test_hnsw_tiered.cpp
  tests/unit/test_spaces.cpp
  tests/unit/test_utils.cpp
  tests/unit/test_utils.h
Labels: bm-basics-bf16-single

#466 Add bf16 and fp16 bm files to hnsw_indices_all
  tests/benchmark/benchmarks.sh
  tests/benchmark/data/hnsw_indices/hnsw_indices_all.txt
Labels: benchmarks-all, backport 0.8

#470 Test alignment decision - [MOD-6998]
  src/VecSim/spaces/IP_space.cpp
  src/VecSim/spaces/IP_space.h
  src/VecSim/spaces/L2_space.cpp
  src/VecSim/spaces/L2_space.h
  src/VecSim/spaces/spaces.cpp
  src/VecSim/vec_sim_index.h
  tests/unit/test_bruteforce.cpp
  tests/unit/test_spaces.cpp
Labels: backport 0.8
