Repository RedisAI/VectorSimilarity, pull requests merged in 2025-04, with the labels that each got.

#617 Add support arm opt fp32 intrinsics [MOD-9011]
  cmake/aarch64InstructionFlags.cmake
  src/VecSim/spaces/CMakeLists.txt
  src/VecSim/spaces/IP/IP_NEON_FP32.h
  src/VecSim/spaces/IP/IP_SVE_FP32.h
  src/VecSim/spaces/IP_space.cpp
  src/VecSim/spaces/L2/L2_NEON_FP32.h
  src/VecSim/spaces/L2/L2_SVE_FP32.h
  src/VecSim/spaces/L2_space.cpp
  src/VecSim/spaces/functions/NEON.cpp
  src/VecSim/spaces/functions/NEON.h
  src/VecSim/spaces/functions/SVE.cpp
  src/VecSim/spaces/functions/SVE.h
  src/VecSim/spaces/functions/SVE2.cpp
  src/VecSim/spaces/functions/SVE2.h
  src/VecSim/spaces/functions/implementation_chooser.h
  src/VecSim/spaces/space_includes.h
  src/VecSim/spaces/spaces.h
  tests/benchmark/CMakeLists.txt
  tests/benchmark/spaces_benchmarks/bm_spaces.h
  tests/benchmark/spaces_benchmarks/bm_spaces_fp32.cpp
  tests/unit/CMakeLists.txt
  tests/unit/test_spaces.cpp
Labels: benchmarks-default, backport 0.6, backport 0.7, backport 0.8, backport 8.0

#618 Beng arm opt f64 - [MOD-9077]
  src/VecSim/spaces/IP/IP_NEON_FP64.h
  src/VecSim/spaces/IP/IP_SVE_FP64.h
  src/VecSim/spaces/IP_space.cpp
  src/VecSim/spaces/L2/L2_NEON_FP64.h
  src/VecSim/spaces/L2/L2_SVE_FP64.h
  src/VecSim/spaces/L2_space.cpp
  src/VecSim/spaces/functions/NEON.cpp
  src/VecSim/spaces/functions/NEON.h
  src/VecSim/spaces/functions/SVE.cpp
  src/VecSim/spaces/functions/SVE.h
  src/VecSim/spaces/functions/SVE2.cpp
  src/VecSim/spaces/functions/SVE2.h
  tests/benchmark/spaces_benchmarks/bm_spaces_fp64.cpp
  tests/unit/test_spaces.cpp
Labels: backport 0.6, backport 0.7, backport 0.8, backport 8.0

#630 [MOD-9303] Update GoogleTest tag to support CMake 4.0 compatibility
  .github/workflows/codeql-analysis.yml
  .install/macos.sh
  CMakeLists.txt
Labels: backport 0.6, backport 0.7, backport 0.8, backport 8.0

#623 Implement optimized BF16 support for ARM architecture - [MOD-9079]
  cmake/aarch64InstructionFlags.cmake
  src/VecSim/spaces/CMakeLists.txt
  src/VecSim/spaces/IP/IP_NEON_BF16.h
  src/VecSim/spaces/IP/IP_SVE_BF16.h
  src/VecSim/spaces/IP_space.cpp
  src/VecSim/spaces/L2/L2_NEON_BF16.h
  src/VecSim/spaces/L2/L2_SVE_BF16.h
  src/VecSim/spaces/L2_space.cpp
  src/VecSim/spaces/functions/NEON_BF16.cpp
  src/VecSim/spaces/functions/NEON_BF16.h
  src/VecSim/spaces/functions/SVE_BF16.cpp
  src/VecSim/spaces/functions/SVE_BF16.h
  tests/benchmark/spaces_benchmarks/bm_spaces.h
  tests/benchmark/spaces_benchmarks/bm_spaces_bf16.cpp
  tests/unit/test_spaces.cpp
Labels: bm-spaces, backport 0.8, backport 8.0

#620 Implement optimized FP16 support for ARM architecture - [MOD-9078]
  cmake/aarch64InstructionFlags.cmake
  src/VecSim/spaces/CMakeLists.txt
  src/VecSim/spaces/IP/IP_NEON_FP16.h
  src/VecSim/spaces/IP/IP_SVE_FP16.h
  src/VecSim/spaces/IP_space.cpp
  src/VecSim/spaces/L2/L2_NEON_FP16.h
  src/VecSim/spaces/L2/L2_SVE_FP16.h
  src/VecSim/spaces/L2_space.cpp
  src/VecSim/spaces/functions/NEON_HP.cpp
  src/VecSim/spaces/functions/NEON_HP.h
  src/VecSim/spaces/functions/SVE.cpp
  src/VecSim/spaces/functions/SVE.h
  src/VecSim/spaces/functions/SVE2.cpp
  src/VecSim/spaces/functions/SVE2.h
  src/VecSim/spaces/functions/implementation_chooser_cleanup.h
  tests/benchmark/spaces_benchmarks/bm_spaces.h
  tests/benchmark/spaces_benchmarks/bm_spaces_fp16.cpp
  tests/unit/test_spaces.cpp
Labels: bm-spaces, backport 0.8, backport 8.0

#619 Add SVE/SVE2 support for uint8 and int8 data type [MOD-9080]
  src/VecSim/spaces/IP/IP_SVE_INT8.h
  src/VecSim/spaces/IP/IP_SVE_UINT8.h
  src/VecSim/spaces/IP_space.cpp
  src/VecSim/spaces/L2/L2_SVE_INT8.h
  src/VecSim/spaces/L2/L2_SVE_UINT8.h
  src/VecSim/spaces/L2_space.cpp
  src/VecSim/spaces/functions/SVE.cpp
  src/VecSim/spaces/functions/SVE.h
  src/VecSim/spaces/functions/SVE2.cpp
  src/VecSim/spaces/functions/SVE2.h
  tests/benchmark/spaces_benchmarks/bm_spaces_int8.cpp
  tests/benchmark/spaces_benchmarks/bm_spaces_uint8.cpp
  tests/unit/test_spaces.cpp
Labels: benchmarks-all, backport 8.0

#650 Refactor Info Report - [MOD-9321]
  src/VecSim/algorithms/brute_force/brute_force.h
  src/VecSim/algorithms/hnsw/hnsw.h
  src/VecSim/algorithms/hnsw/hnsw_tiered.h
  src/VecSim/algorithms/svs/svs.h
  src/VecSim/info_iterator.cpp
  src/VecSim/info_iterator.h
  src/VecSim/info_iterator_struct.h
  src/VecSim/vec_sim.cpp
  src/VecSim/vec_sim.h
  src/VecSim/vec_sim_common.h
  src/VecSim/vec_sim_index.h
  src/VecSim/vec_sim_interface.h
  src/VecSim/vec_sim_tiered_index.h
  src/python_bindings/bindings.cpp
  tests/benchmark/bm_batch_iterator.h
  tests/benchmark/bm_common.h
  tests/module/memory_test.c
  tests/unit/test_allocator.cpp
  tests/unit/test_bf16.cpp
  tests/unit/test_bruteforce.cpp
  tests/unit/test_bruteforce_multi.cpp
  tests/unit/test_fp16.cpp
  tests/unit/test_hnsw.cpp
  tests/unit/test_hnsw_multi.cpp
  tests/unit/test_hnsw_parallel.cpp
  tests/unit/test_hnsw_tiered.cpp
  tests/unit/test_int8.cpp
  tests/unit/test_svs.cpp
  tests/unit/test_uint8.cpp
  tests/unit/unit_test_utils.cpp
  tests/unit/unit_test_utils.h
Labels: backport 0.6, backport 0.7, backport 0.8, backport 8.0
